<launch>
    <include file="$(find sot_pr2)/launch/pr2_empty_world.launch">
	<arg name="use_sim_time" value="true" />
	<arg name="throttled" default="false"/>
        <arg name="physics" default="true"/>
    </include>

    <!-- Startup PR2 without any mechanism controllers -->
    <include file="$(find sot_pr2)/launch/spawn_pr2.launch"/>

    <!--<node name="pr2_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
        <env name="ROS_NAMESPACE" value="/dynamic_graph"/>
    </node>-->

</launch>

